* {
	text-align:center;
	}
	
body {
	background-color:lightblue;
	width:760px;
	margin:0px auto;
	}
	
#site_head {
	margin-top: 10px;
	background-color:#ffffff;
	}
	
#donor_box {
	height:10px;
	
	font-size:.8em;
	color:#888;
	}
	
#page_wrap {
	
	background-color:#ffffff;
	
	padding: 10px;
	margin: 10px auto;
	}

#node_info {
	float: left;
	margin: 2em !important;
	margin-top: 0 !important;
}
	
.node_detail {
	width:190px;
	}
	
.menu_item {
	text-align:left;
	margin-bottom: 2em;
	}
	
.menu_item form {
	text-align:left;
	}
	
.menu_desc, .node_desc {
	font-weight:bold;
	}
#page_wrap > * {
	margin: 10px auto;
}
.detail_display, .blocknav {
	width: 100%;
}

.block_banner {
	border-style: solid;
	border-color:#3a3a3a;
	border-width: 1px;
	background-color: #fff;
	
	-webkit-column-rule-color: #3a3a3a;
	-webkit-column-rule-style: solid;
	-webkit-column-rule-width: 1px;
	-webkit-column-count: 2;
	}
	
.blocknav {
	border-style:solid none;
	padding: 5px 0;
	}
	
.blocknav_prev {
	float:left;
	}
	
.blocknav_news {
	margin: 0 auto;
	}
	
.blocknav_next {
	float:right;
	}
	

.blockdetail {
	-webkit-column-count: 3;
	}
	
.blockdetail_detail {
	display:inline-block;
	}
	
.blockdetail_header {
	background-color:#acf;
	}
	
.blockdetail_content {
	width:210px;
	line-height:32px;
	}

.blockoffset {
	width: 100%;
}
	
.section_head {
	background-color:navy;
	
	font-weight:bold;
	line-height:32px;
	color:#ffffff;
	}
	
.section_subhead {
	border-bottom-style:solid;
	
	font-weight:bold;
	text-align:left;
	line-height:32px;
	}
	
.detail_display {
	clear:both;
	margin: 20px auto !important;
	}

.detail_display > * { 
	display: inline-block;
}
	
.detail_title {
	float:left;
	width:130px;
	height:100%;
	
	background-color:#acf;
	
	line-height:32px;
	}
	
.detail_data {
	text-align:left;
	line-height:32px;
	min-width: 80%;
	}
	
